.footer{
    width: 99%;
    height: 35px;
    margin: 0 auto;
    background-color: $color-button;
    text-align: center;
    color: white;
    margin-bottom: 15px;
    line-height: 35px;

    h2{
        text-shadow: 2px 2px 2px black;
    }
}